.check {
  color: $insta;
  display: inline-block;
  margin-bottom: rem-calc(14);

  &__input {
    display: none;

    &:checked + .check__label {
      background: url($imagesPath +"/check-active.svg")no-repeat left top;
    }
  }

  .check__label {
    margin-left: rem-calc(0);
    margin-right: rem-calc(30);
    padding-left: rem-calc(32);
    background: url($imagesPath +"/check.svg")no-repeat left top;
  }
}
