.content {
  background: center no-repeat;
  background-size: cover;
  padding: rem-calc(11) 0 0;
  position: relative;
  border-top: rem-calc(1) solid $asphalt;
}

.content__promo {
  height: rem-calc(400);
}
