.content {
  background: center no-repeat;
  background-size: cover;
  padding: rem-calc(51) 0 0;
  position: relative;
  border-top: rem-calc(1) solid $asphalt;
  border-bottom: rem-calc(1) solid $asphalt;
  padding-bottom: rem-calc(30);
  &__promo {
      height: rem-calc(400);
  }

}
