.dress {
  text-decoration: none;
  display: block;
  color: $insta;
  margin-bottom: rem-calc(10);
  border: rem-calc(1) solid transparent;
  padding-top: rem-calc(10);
  padding-bottom: rem-calc(20);

  &:hover {
    border-color: $asphalt;
    position: absolute;
    background: $white;
    width: 100%;
    z-index: 3;
    left: rem-calc(0);

    .dress__img {
      img {
        &:nth-child(2) {
          display: block;
        }

        &:nth-child(1) {
          display: none;
        }
      }
    }

    .dress__size {
      display: block;
    }
  }

  &_static {
    &:hover {
      position: static;
    }
  }

  &__img {
    img {
      max-height: 100%;
      transition: 0.3s;

      &:nth-child(2) {
        display: none;
      }
    }
  }

  &__size {
    display: none;
  }

  &__title {
    margin-bottom: rem-calc(4);
    text-transform: uppercase;
    font-size: rem-calc(20);
    font-weight: 700;
  }
}
