@font-face {
    font-family: 'Geo';
    src: url($fontsPath+ '/Georgia.eot');
    src: url($fontsPath+ '/Georgia.eot?#iefix') format('embedded-opentype'),
        url($fontsPath+ '/Georgia.woff') format('woff'),
        url($fontsPath+ '/Georgia.ttf') format('truetype'),
        url($fontsPath+ '/Georgia.svg#Georgia') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url($fontsPath + '/Calibri.eot');
    src: url($fontsPath + '/Calibri.eot?#iefix') format('embedded-opentype'),
        url($fontsPath + '/Calibri.woff') format('woff'),
        url($fontsPath + '/Calibri.ttf') format('truetype'),
        url($fontsPath + '/Calibri.svg#Calibri') format('svg');
    font-weight: normal;
    font-style: normal;
}

$font-geo : "Geo",sans-serif;
$font-calibri:'Calibri',sans-serif;
