.girl {
  padding-left: rem-calc(170);
  padding-right: rem-calc(170);
  background: $light-gray;

padding-top: rem-calc(44);
padding-bottom: rem-calc(44);
  img {
    display: inline-block;
  }
  &__slide {
    padding-left: rem-calc(15);
    padding-right: rem-calc(15);
  }
  @include breakpoint(xlarge down) {
    padding-left: rem-calc(40);
    padding-right: rem-calc(40);

    .slick-next {
      right: rem-calc(10);
    }

    .slick-prev {
      left: rem-calc(10);
    }
  }
}
