.header {
  &__logo {
    margin-top: rem-calc(16);
    display: block;
  }

  &__enter {
    text-decoration: none;
margin-left: rem-calc(30);
  }
&__menu {
  outline: none;
}
  &__tel {
    color: $white;
    text-decoration: none;
    display: block;
    padding-top: rem-calc(7);
    text-transform: uppercase;
    padding-bottom: rem-calc(7);
    letter-spacing: rem-calc(.5);
    font-size: rem-calc(12);

    &:active,
    &:focus,
    &:hover,
    &:visited {
      color: $white;
    }
  }
  @include breakpoint(small only) {
    padding-bottom: rem-calc(20);
    &__logo {
      margin-top: rem-calc(0);
    }
    &__menu {
      margin-top: rem-calc(28);
    }
    &__enter {
      margin-left: rem-calc(15);
      margin-right: rem-calc(15);
    }
  }
}
