.menu-base {
  margin: 0 0 rem-calc(9);
  list-style-type: none;
  padding: 0;
  text-transform: uppercase;
  position: relative;
  z-index: 100;

  &__item {
    @include disable-mouse-outline;
    padding: rem-calc(5 0 5 46);
    position: relative;
    display: inline-block;

    & .menu-base {
      text-transform: none;
      display: none;
      position: absolute;
      margin: rem-calc(-3 0 0) -1rem;
      padding: 0.5rem 0;
      top: 100%;
      left: 0;
      width: 15rem;
      background: scale-color($primary-color, $lightness: 10%);
      border-bottom: rem-calc(2) solid $white;
    }

    &:last-child .menu-base {
      right: 0;
      left: auto;
    }

    & .menu-base__item {
      padding: 0;
      width: 100%;

      & .menu-base__link {
        display: block;
        padding: 0.5rem 1rem;

        &:after {
          display: none;
        }

        &:hover {
          background: $primary-color;
        }
      }
    }
  }

  &__link {
    @include disable-mouse-outline;
    display: block;
    color: $insta;
    position: relative;
    text-decoration: none;
    border-bottom: rem-calc(2) solid transparent;

    &:focus,
    &:hover,
    &_active {
      border-bottom-color: $insta;
    }
  }
  @include breakpoint(large down) {
    &__item {
      padding-left: rem-calc(20);
    }
  }
  @include breakpoint(small only) {
    z-index: 6;

    &__link {

      i,img {
        margin-right: rem-calc(7);
      }

      .fa-chevron-right {
        position: absolute;
        right: rem-calc(-12);
        top: rem-calc(8);
      }

      &:active,
      &:focus,
      &:hover,
      &:visited,
      &_active {
        border-bottom-color: transparent;
      }
    }

    &__item {
      display: block;
      padding-top: rem-calc(10);
      padding-bottom: rem-calc(10);
      padding-left: rem-calc(10);
      border-top: rem-calc(1) solid $medium-gray;
      padding-right: rem-calc(10);
    }
  }
}
