.pagination {
  display: inline-block;

  .pagination__first {
    border-radius: rem-calc(3 0 0 3);
    border-left: rem-calc(1) solid $secondary-color;
  }

  .pagination__last {
    border-radius: rem-calc(0 3 3 0);
  }

  li {
    float: left;
    min-width: rem-calc(26);
    border: rem-calc(1) solid $secondary-color;
    border-left: rem-calc(0);
  }

  .ellipsis {
    height: rem-calc(30);
  }

  .pagination-next {
    margin-left: rem-calc(20);
    border-left: rem-calc(1) solid $secondary-color;
    border-radius: rem-calc(3);
    margin-right: rem-calc(20);

    a {
      padding-left: rem-calc(17);
      padding-right: rem-calc(17);
    }
  }

  a {
    &:hover {
      color: $white;
    }
  }
}
