.reveal {
  outline: none;
  &-overlay {
    right: rem-calc(17);
  }
  &_my {
    transition: 0.3s;
    padding: rem-calc(34);
    display: block !important;
    left: rem-calc(-2000) !important;

    &[aria-hidden="false"] {
      left: rem-calc(0) !important;
    }
  }

  &__title {
    font-size: rem-calc(33);

  }

  &__enter {
    display: inline-block;
    margin-right: rem-calc(12);
    top: rem-calc(-5);
    position: relative;
  }
  @include breakpoint(small only) {
    padding-left: rem-calc(15);
    padding-right: rem-calc(15);
    &__title {
      font-size: rem-calc(25);
    }
    &_my {
      padding: rem-calc(17);
    }
  }
}
