.sort {
  color: $secondary-color;
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin-right: rem-calc(9);

  &.js-open {
    .sort__footer,
    .sort__other {
      display: block;
    }

    .sort__main {
      &:after {
        transform: rotate(180deg);
      }
    }
  }

  &__over {
    max-height: rem-calc(300);
    overflow-y: auto;
    padding: rem-calc(15 10 0);
  }

  &__footer {
    position: absolute;
padding: rem-calc(10);
    left: rem-calc(0);
    bottom: rem-calc(0);
    display: none;
    width: rem-calc(250);
  }

  &__other {
    padding-bottom: rem-calc(56);
    display: none;
    border-radius: rem-calc(0 0 5 5);
    left: rem-calc(0);
    box-shadow: rem-calc(0 1 8) rgba(0,0,0,.25);
    width: rem-calc(250);
    background: $white;
    transition: 0.3s;
    position: absolute;
    z-index: 10;
    top: 100%;

    &_right {
      left: auto;
      right: rem-calc(0);
    }
  }

  &__input {
    display: inline-block;
    width: rem-calc(70);
    margin-left: rem-calc(10);
    margin-right: rem-calc(10);

    &:focus {
      box-shadow: rem-calc(0 0 4 0) $primary-color;
      border: rem-calc(1) solid $primary-color;
    }
  }

  &__main {
    border-radius: rem-calc(5 5 0 0);
    background: $white;
    padding-left: rem-calc(5);
    padding-right: rem-calc(5);

    &:after {
      transition: 0.3s;
      content: "\f078";
      display: inline-block;
      color: $asphalt;
      font-size: rem-calc(14);
      margin-left: rem-calc(12);
      font-family: FontAwesome;
    }
  }
  @include breakpoint(small only) {
    position: static;

    &__other {
      top: rem-calc(0);
      left: rem-calc(0);
    }
  }
}
