@charset "utf-8";

// Все картинки и шрифты необходимо подключать с использованием этих двух переменных:
$imagesPath: '../images' !default;
$fontsPath: '../fonts' !default;

$textSizes: (tiny: 0.7rem, xsmall: 0.75rem, small: 0.878rem, default: 1rem, large: 1.123rem, xlarge: 1.25rem, xxlarge: 2rem,xxxlarge: 2.6rem) !default;

$fa-font-path: $fontsPath;

$minify: false !default;
@if $minify {
  $imagesPath: './images';
  $fontsPath: './fonts';
  $fa-font-path: $fontsPath;
}

@import "fonts";
@import "foundation-settings";

@import "font-awesome";
@import "slick.scss";
@import "foundation";
@import "motion-ui";
@include foundation-everything(true, true);

@import "common";
@import "slick/slick-theme";


@import "carousel/carousel-main";
@import "carousel/carousel-news";
@import "carousel/carousel-services";
@import "background";
@import "checkbox-group";
@import "button";
@import "content";
@import "accordion";
@import "pagination";
@import "dd";
@import "menu-base";
@import "menu-top";
@import "rating";
@import "search-top";
@import "input-group";
@import "sticky";
@import "sticky-footer";
@import "text";
@import "text-size";
@import "header";
@import "people";
@import "map";
@import "yandex-map";
@import "coat";
@import "cat";
@import "anchor";
@import "dress";
@import "podium";
@import "girl";
@import "footer";
@import "bag";
@import "soc";
@import "subscribe";
@import "check";
@import "skirt";
@import "fit";
@import "share";
@import "mail";
@import "sort";
@import "cloth";
@import "jacket";
@import "zoomimg";
@import "look";
@import "detective";
@import "directory";
@import "subheader";
@import "trousers";
@import "sale";
@import "pants";
@import "reveal";
@import "rule";
@import "table-scroll";
@import "payment";
@import "vertical";
@import "pay";
@import "size";
@import "heart";
@import "fault";
@import "aligner";
@import "hr";
@import "kind";
@import "brand";
@import "action";
@import "container";
