.grid-x.grid-padding-x: .cell
  ul.breadcrumbs
    li
      a(href='#' title='') Главная
    li
      a(href='#' title='') Платья
    li
      a(href='#' title='') Belluchi
    li.current Разноцветное платье с длинным рукавом
