.sale.margin-bottom-9
  .sale__slide
    a(href="#")
      img(src="./i/girl.png", alt="")
  .sale__slide
    a(href="#")
      img(src="./i/girl.png", alt="")
.grid-container.margin-bottom-17
  .grid-x.grid-padding-x.text-center
    .cell.large-3.medium-6.medium-order-2.large-order-1
      a.coat(href="#" style="background-image:url(./i/coat1.png);")
        .coat__info
          .coat__text Роскошные пальто
          .anchor смотреть все
    .cell.large-6.large-order-2.medium-order-1
      a.coat(href="#" style="background-image:url(./i/coat2.png);")
        .coat__info
          .coat__best Самые желанные
          .coat__bag сумки
          .anchor смотреть все
    .cell.large-3.medium-6.medium-order-3
      a.coat(href="#" style="background-image:url(./i/coat3.png);")
        .coat__info
          .anchor
            | смотреть товары
            br
            | по лучшим ценам
    .cell.large-6.medium-6.medium-order-4
      a.coat.coat_high(href="#" style="background-image:url(./i/coat4.png);")
        .coat__info
          .coat__brand бренд
          .coat__title Emilio Pucci: эффектный принт
          .margin-bottom-6 Неожиданная интерпритация знакомых принтов
          .anchor Коллекция
    .cell.large-6.medium-6.medium-order-5
      a.coat.coat_high(href="#" style="background-image:url(./i/coat5.png);")
        .coat__info.text-white
          .coat__brand.coat__brand_white бренд
          .coat__title Коллекция пуховиков
          .margin-bottom-6 Главные модели сезона - Etro, lenki lenki и Marques Almedia
          .anchor.anchor_white выбрать
.grid-x.grid-padding-x.text-center
  .cell.margin-bottom-20
    .cat.text-center
      h2.cat__head Новинки каталога   
.map.text-center.margin-bottom-10
  .map__slide
    a(href="#").dress   
      .margin-bottom-3
        img(src="./i/d1.png", alt="")
      .dress__title ASHLEY WILLIAMS
      .text-secondary Полосатое платье-рубашка
      .text-size-large 49 765. -      
  .map__slide
    a(href="#").dress   
      .margin-bottom-3
        img(src="./i/d2.png", alt="")
      .dress__title Proenza schouler
      .text-secondary Платье в полоску
      .text-size-large 26 136. -   
  .map__slide
    a(href="#").dress   
      .margin-bottom-3
        img(src="./i/d3.png", alt="")
      .dress__title Proenza schouler
      .text-secondary Платье в полоску
      .text-size-large 49 765. -      
  .map__slide
    a(href="#").dress   
      .margin-bottom-3
        img(src="./i/d1.png", alt="")
      .dress__title ASHLEY WILLIAMS
      .text-secondary Полосатое платье-рубашка
      .text-size-large 26 136. - 
  .map__slide
    a(href="#").dress   
      .margin-bottom-3
        img(src="./i/d2.png", alt="")
      .dress__title Proenza schouler
      .text-secondary Платье в полоску
      .text-size-large 49 765. -      
  .map__slide
    a(href="#").dress   
      .margin-bottom-3
        img(src="./i/d3.png", alt="")
      .dress__title Proenza schouler
      .text-secondary Платье в полоску
      .text-size-large 26 136. -
.podium.text-center # PODIUMMARKET
.girl.text-center
  .girl__slide
    a(href="#")
      img(src="./i/g1.png", alt="")
  .girl__slide
    a(href="#")
      img(src="./i/g2.png", alt="")
  .girl__slide
    a(href="#")
      img(src="./i/g3.png", alt="")
  .girl__slide
    a(href="#")
      img(src="./i/g4.png", alt="")
  .girl__slide
    a(href="#")
      img(src="./i/g5.png", alt="")
  .girl__slide
    a(href="#")
      img(src="./i/g6.png", alt="")
  .girl__slide
    a(href="#")
      img(src="./i/g7.png", alt="")
  .girl__slide
    a(href="#")
      img(src="./i/g1.png", alt="")
    
  
  
