.sale.margin-bottom-9
  .sale__slide
    a(href="#")
      img(src="./i/girl.png", alt="")
  .sale__slide
    a(href="#")
      img(src="./i/girl.png", alt="")
.grid-container
  .grid-x.grid-padding-x.text-center
    .cell.large-3
      a(href="#").coat(style="background-image:url(./i/coat1.png);")
        .coat__text Роскошные пальто
        .coat__link смотреть все
