.text-center
  ul.pagination
    li.pagination__first
      a(href="#") 1
    li.current 2
    li
      a(href='#' title='' aria-label='Page 3') 3
    li.ellipsis
    li.pagination__last
      a(href='#' title='' aria-label='Page 12') 35
    li.pagination-next
      a(href='#' title='' aria-label='Next page') Дальше
