footer.footer
  .grid-x.grid-padding-x.text-center.medium-text-left
    .large-2.cell.large-offset-1.medium-4
      .text-uppercase.margin-bottom-3.text-insta Коллекции
      ul.bag
        each title in ['женская коллекция','мужская коллекция','сумки','аксессуары']
          li.bag__item
            a(href="#").bag__link= title
    .large-2.cell.medium-4
      .text-uppercase.margin-bottom-3.text-insta Покупателю
      ul.bag
        each title in ['программа лояльности','как сделать заказ','конфиденциальность','где купить']
          li.bag__item
            a(href="#").bag__link= title
    .large-2.cell.medium-4
      .text-uppercase.margin-bottom-3.text-insta условия работы
      ul.bag
        each title in ['оплата','доставка','возврат']
          li.bag__item
            a(href="#").bag__link= title
    .large-2.cell.medium-4
      .text-uppercase.margin-bottom-3.text-insta Связь с нами
      .text-size-small.margin-bottom-4
        | Тел.:
        |
        a(href="tel:88003331257").text-decoration-none 8 (800) 333-12-57
      .text-size-small.margin-bottom-11
        | E-mail:
        |
        a(href="mailto:mail@brendsalon.ru").text-decoration-none mail@brendsalon.ru
      a(href='#', title='').fa-stack.text-asphalt.soc
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-instagram.fa-stack-1x.fa-inverse  
      a(href='#', title='').fa-stack.text-asphalt.soc
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-vk.fa-stack-1x.fa-inverse  
      a(href='#', title='').fa-stack.text-asphalt.soc
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-facebook.fa-stack-1x.fa-inverse  
        

    .small-12.medium-6.large-3.cell
      .subscribe Подписаться на рассылку
      form(action="#")
        .input-group.footer__group
          input.input-group-field(type='email',placeholder="Ваш e-mail")
          .input-group-button
            input.button.footer__button(type='submit', value='Отправить')
        .check
          input(type="radio",name="gender",id="a1",checked).check__input
          label.check__label(for="a1") Женские      
        .check
          input(type="radio",name="gender",id="a2").check__input
          label.check__label(for="a2") Мужские 
      a(href="#").margin-right-4
        img(src="./images/visa-bordered.svg", alt="")  
      a(href="#").margin-right-4
        img(src="./images/mastercard-bordered.svg", alt="")  
      a(href="#")
        img(src="./images/mir-bordered.svg", alt="")  
