footer.footer
  .grid-x.grid-padding-x.text-center.medium-text-left
    .large-2.cell.large-offset-1.medium-4
      .footer__title(data-toggle="foot1 title1",data-toggler="js-show")#title1
        | Коллекции
        i.fa.fa-chevron-right.show-for-small-only
      ul.bag(data-toggler="js-open")#foot1
        each title in ['женская коллекция','мужская коллекция','сумки','аксессуары']
          li.bag__item
            a(href="#").bag__link= title
      hr.show-for-small-only      
    .large-2.cell.medium-4
      .footer__title(data-toggle="foot2 title2",data-toggler="js-show")#title2
        | Покупателю
        i.fa.fa-chevron-right.show-for-small-only
      ul.bag(data-toggler="js-open")#foot2
        each title in ['программа лояльности','как сделать заказ','конфиденциальность','где купить']
          li.bag__item
            a(href="#").bag__link= title
      hr.show-for-small-only  
    .large-2.cell.medium-4
      .footer__title(data-toggle="foot3 title3",data-toggler="js-show")#title3
        | Условия работы
        i.fa.fa-chevron-right.show-for-small-only
      ul.bag(data-toggler="js-open")#foot3
        each title in ['оплата','доставка','возврат']
          li.bag__item
            a(href="#").bag__link= title
      hr.show-for-small-only  
    .large-2.cell.medium-4
      .footer__title(data-toggle="foot4 title4",data-toggler="js-show")#title4
        | Связь с нами
        i.fa.fa-chevron-right.show-for-small-only
      .footer__block(data-toggler="js-open")#foot4
        .text-size-small.margin-bottom-4
          | Тел.:
          |
          a(href="tel:88003331257").text-decoration-none 8 (800) 333-12-57
        .text-size-small.margin-bottom-11
          | E-mail:
          |
          a(href="mailto:mail@brendsalon.ru").text-decoration-none mail@brendsalon.ru
        a(href='#', title='').fa-stack.text-asphalt.soc
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-instagram.fa-stack-1x.fa-inverse  
        a(href='#', title='').fa-stack.text-asphalt.soc
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-vk.fa-stack-1x.fa-inverse  
        a(href='#', title='').fa-stack.text-asphalt.soc
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-facebook.fa-stack-1x.fa-inverse  
      hr.show-for-small-only  

    .small-12.medium-6.large-3.cell
      .margin-bottom-5.show-for-small-only
      .subscribe Подписаться на рассылку
      form(action="#")
        .input-group.footer__group
          input.input-group-field(type='email',placeholder="Ваш e-mail")
          .input-group-button
            input.button.footer__button(type='submit', value='Отправить')
        .check
          input(type="radio",name="gender",id="a1",checked).check__input
          label.check__label(for="a1") Женские      
        .check
          input(type="radio",name="gender",id="a2").check__input
          label.check__label(for="a2") Мужские 
      a(href="#").margin-right-4
        img(src="./images/visa-bordered.svg", alt="")  
      a(href="#").margin-right-4
        img(src="./images/mastercard-bordered.svg", alt="")  
      a(href="#")
        img(src="./images/mir-bordered.svg", alt="")  
