header.header
  .grid-x.grid-padding-x
    .cell.text-center.background-insta
      a(href="tel:88003011129").header__tel 8 (800) 301-11-29 (бесплатный, многоканальный)
    .cell.large-4
      ul.people
        li.people__item
          a(href="#").people__link Женщинам
        li.people__item
          a(href="#").people__link.people__link_active Мужчинам
        li.people__item
          a(href="#").people__link Детям
          
    .cell.text-center.large-4
      a(href="#").header__logo
        img(src="./images/logo.png", alt="")
    .cell.large-4.text-right
      a(href="#") Войти
      a(href="#").fa.fa-heart-o
      a(href="#")
        img(src="./images/shop-bag.png", alt="")
