header.header
  .grid-x.grid-padding-x
    .cell.text-center.background-insta
      a(href="tel:88003011129").header__tel 8 (800) 301-11-29 (бесплатный, многоканальный)
    .cell.large-4.medium-4.text-center.medium-text-left.hide-for-small-only
      ul.people
        li.people__item
          a(href="#").people__link Женщинам
        li.people__item
          a(href="#").people__link.people__link_active Мужчинам
        li.people__item
          a(href="#").people__link Детям
          
    .cell.text-center.large-4.medium-4
      a(href="#").header__logo
        img(src="./images/logo.svg", alt="")
    .cell.large-4.medium-text-right.padding-top-5.medium-4.text-left.small-8
      a(href="#").header__enter Войти
      a(href="#").header__enter
        img(src="./images/heart.svg", alt="")
      a(href="#").header__enter
        img(src="./images/bag.svg", alt="")
    .cell.show-for-small-only.small-4(data-responsive-toggle="responsive-menu" data-hide-for="medium").text-right
      button.menu-icon.header__menu.dark(type='button', data-toggle='responsive-menu')
      

        
          
.grid-container#responsive-menu: .grid-x.grid-padding-x
  .small-12.medium-9.large-9.cell#menu
    ul.menu-base.text-center.medium-text-right
      each title,index in ['новинки','Бренды','Одежда','обуВь','сумки','аксессуары','белье','sale','блог']
        li.menu-base__item
          a.menu-base__link(href='shop-catalog.html' data-toggle-hover-dd='menu_item_' + index)= title
  
  .small-12.large-3.cell.medium-3.text-center.medium-text-left
    form.search-top.input-group(action='shop-search.html' method='get')
      input.search-top__input.input-group-field(type='text', value='' placeholder='Поиск')
      .input-group-button
        button.search-top__button.fa.fa-search(type='submit')

.dd.hide-for-small-only#menu_item_2(data-toggler-hover-dd='dd_show')
  .dd__content
    .grid-container: .grid-x.grid-padding-x
      .small-6.medium-5.large-6.cell
        h5 По категориям
        .grid-x.grid-padding-x
          .small-6.cell
            ul
              each title in ['Платья','Брюки','Кофты','Юбки','Костюмы','Деним']
                li
                  a(href='#' title='')= title
          .small-6.cell
            ul
              each title in ['Шорты','Нижнее белье','Пальто','Трикотаж','Комбинезоны','Пляжная одежда']
                li
                  a(href='#' title='')= title
      .small-6.medium-4.large-3.cell
        h5 По дизайнерам
        ul
          each title in ['BURBERRY','CHLOE','DOLCE & GABBANA','DSQUARED2','ETRO','GIVENCHY','ISABEL MARANT','LANVIN','MARC JACOBS','MAX MARA']
            li
              a(href='#' title='')= title
        a(href="#").font-bold.text-decoration-none Все дизайнеры
    
      .small-6.medium-3.large-3.cell.text-center
        .margin-bottom-9
          a(href="#")
            img(src="./i/dress.png", alt="")
        h3.margin-bottom-0 Платья
        a(href="#").anchor смотреть все    
    
  
