.skirt__price 72 000 &#8381;
.grid-x
  .small-12.large-2.cell Размер:
  .cell.auto
    .checkbox-group
      input.checkbox-group__item(type='radio' id='size1' name='size')
      label.checkbox-group__label(for='size1') 44
      input.checkbox-group__item(type='radio' id='size2' name='size')
      label.checkbox-group__label(for='size2') 46
      input.checkbox-group__item(type='radio' id='size3' name='size')
      label.checkbox-group__label(for='size3') 48
    a(href="#").skirt__link RU
    div.margin-bottom-5
      a(href="#").skirt__link.skirt__link_mini Таблица размеров
  .small-12.large-2.cell Цвет:
  .cell.auto
    .fit.text-center
      input.fit__input(type='radio' id='col1' name='col')
      label.fit__label(for='col1')
        img(src="./i/try1.png", alt="")
        .fit__text Хакки
    .fit.text-center    
      input.fit__input(type='radio' id='col2' name='col')
      label.fit__label(for='col2')
        img(src="./i/try2.png", alt="")
        .fit__text Черный
.grid-x.grid-padding-x.skirt__grid 
  .cell.small-6
    a(href="#").button.skirt__bag Добавить в Корзину  
  .cell.small-6
    a(href="#").button.skirt__heart Добавить в Избранное
hr    
      
