form.search-top.input-group(action='shop-search.html' method='get')
  input.search-top__input.input-group-field(type='text', value='' placeholder='Поиск')
  .input-group-button
    button.search-top__button.fa.fa-search(type='submit')
