extends shop-regular

block content
  
  .content
    .grid-x.grid-padding-x.margin-top-10: .cell.text-center
      h1 Платья
      .text-secondary.margin-bottom-1 9438 товаров
    .grid-x.grid-padding-x.margin-bottom-12
      .cell.small-12.medium-8.large-6
        .sort
          .sort__main Цвет
          .sort__other
            .sort__over
              form(action="#")
                input(type="text",placeholder="Найдите цвет")
              div
                | Выделить
                |
                a.js-select-all все    
              div
                +check('b1','Белый')
              div
                +check('b2','Красный')
              div
                +check('b3','Фиолетовый')
              div
                +check('b4','Красный')
              div
                +check('b5','Белый')
              div
                +check('b6','Красный')
            .sort__footer
              a(href="#").button.margin-bottom-0.js-apply Применить
        .sort
          .sort__main Размер
          .sort__other
            .sort__over
              .margin-bottom-3 Ваш российский размер
              div
                +check('c1','38')
              div
                +check('c2','40')
              div
                +check('c3','44')
              div
                +check('c4','45')
              div
                +check('c5','47')
              div
                +check('c6','50')
            .sort__footer
              a(href="#").button.margin-bottom-0.js-apply Применить
        .sort
          .sort__main Бренд
          .sort__other
            .sort__over
              form(action="#")
                input(type="text",placeholder="Найдите бренд")
              div
                | Выделить
                |
                a.js-select-all все    
              div
                +check('d1','Аffari')
              div
                +check('d2','Аlcott')
              div
                +check('d3','Аffari')
              div
                +check('d4','Аffari')
              div
                +check('d5','Аffari')
              div
                +check('d6','Аffari')
              div
                +check('d7','Аffari')
              div
                +check('d8','Аffari')
              div
                +check('d9','Аffari')
            .sort__footer
              a(href="#").button.margin-bottom-0.js-apply Применить
        .sort
          .sort__main Сезон
          .sort__other
            .sort__over
              div
                +check('e1','демисезон')
              div
                +check('e2','зима')
              div
                +check('e3','лето')
              div
                +check('e4','мульти')
            .sort__footer
              a(href="#").button.margin-bottom-0.js-apply Применить
        .sort
          .sort__main Цена
          .sort__other
            .sort__over
              div
                | От
                input.sort__input(type="text",placeholder="399")
                | До
                input.sort__input(type="text",placeholder="6399")
              div
                +check('f4','только товары со скидкой')
            .sort__footer
              a(href="#").button.margin-bottom-0.js-apply Применить
      .cell.small-12.medium-4.large-6.text-right
        a(href="#").text-secondary.margin-right-7 На модели
        .sort.text-left
          .sort__main Сортировать
          .sort__other.sort__other_right
            .sort__over
              div
                +check('j1','по популярности')
              div
                +check('j2','по возрастанию цены')
              div
                +check('j3','по убыванию цены')
              div
                +check('j4','по новинкам')
              div
                +check('j5','по скидкам')
            .sort__footer
              a(href="#").button.margin-bottom-0.js-apply Применить

        

    .grid-x.grid-padding-x
      .cell.small-12.medium-4.large-3.xlarge-2.text-center.medium-text-left
        .margin-bottom-6.show-for-small-only(data-responsive-toggle='menu-left', data-hide-for='medium'): span.button.expanded(data-toggle)
          i.fa.fa-lg.fa-bars
          | &nbsp;Навигация
        #menu-left
          .margin-bottom-2
            a(href="#").text-uppercase.text-decoration-none Вся одежда
          ul.cloth
            li.cloth__item
              a(href="#").cloth__link.cloth__link_more
                | Платья
                span.cloth__num 2115
              ul.cloth
                li.cloth__item
                  a(href="#").cloth__link.cloth__link_inside
                    | Повседневные платья
                    span.cloth__num 1000
                li.cloth__item
                  a(href="#").cloth__link.cloth__link_inside
                    | Повседневные платья
                    span.cloth__num 100
                li.cloth__item
                  a(href="#").cloth__link.cloth__link_inside
                    | Коктейльные платья
                    span.cloth__num 2115
                li.cloth__item
                  a(href="#").cloth__link.cloth__link_inside
                    | Свадебные платья
                    span.cloth__num 2115
                li.cloth__item
                  a(href="#").cloth__link.cloth__link_inside
                    | Пляжные платья
                    span.cloth__num 15
            li.cloth__item
              a(href="#").cloth__link
                | Брюки
                span.cloth__num 2115
            li.cloth__item
              a(href="#").cloth__link
                | кофты
                span.cloth__num 2115
            li.cloth__item
              a(href="#").cloth__link
                | Юбки
                span.cloth__num 2115
            li.cloth__item
              a(href="#").cloth__link
                | костюмы
                span.cloth__num 2115
            li.cloth__item
              a(href="#").cloth__link
                | деним
                span.cloth__num 2115
            li.cloth__item
              a(href="#").cloth__link
                | шорты
                span.cloth__num 2115
            li.cloth__item
              a(href="#").cloth__link
                | нижнее белье
                span.cloth__num 2115
            li.cloth__item
              a(href="#").cloth__link
                | куртки
                span.cloth__num 2115
            li.cloth__item
              a(href="#").cloth__link
                | пальто
                span.cloth__num 2115
      .cell.small-12.medium-8.xlarge-10.large-9
        block products
          .grid-x.text-center.grid-padding-x.small-up-1.medium-up-2.xlarge-up-5.large-up-3(data-equalizer data-equalize-by-row="true").margin-bottom-8
            +productTile('ASHLEY WILLIAMS')
            +productTile('Proenza schouler')
            +productTile('ASHLEY WILLIAMS')
            +productTile('ASHLEY WILLIAMS')
            +productTile('Proenza schouler')
            +productTile('ASHLEY WILLIAMS')
            +productTile('ASHLEY WILLIAMS')
            +productTile('Proenza schouler')
            +productTile('ASHLEY WILLIAMS')
            +productTile('ASHLEY WILLIAMS')
      .cell      
        include components/common/_pagination
