extends shop-index

block page
  
  block content
    .content
      .grid-container
        .grid-x.grid-padding-x.text-center.margin-bottom-10
          .cell.margin-bottom-13
            h1 Блог
          .cell.large-5.medium-7
            a(href="shop-blog-action.html").action
              img(src="./i/blog1.png", alt="")
              .action__text Акция 1  
            a(href="shop-blog-action.html").action
              img(src="./i/blog2.png", alt="")
              .action__text Акция 6  
          .cell.large-3.medium-5
            a(href="shop-blog-action.html").action
              img(src="./i/blog3.png", alt="")
              .action__text Акция 2 
            a(href="shop-blog-action.html").action
              img(src="./i/blog4.png", alt="")
              .action__text Акция 4 
            a(href="shop-blog-action.html").action
              img(src="./i/blog5.png", alt="")
              .action__text Акция 7
          .cell.large-4
            a(href="shop-blog-action.html").action
              img(src="./i/blog6.png", alt="")
              .action__text Акция 3 
            a(href="shop-blog-action.html").action
              img(src="./i/blog7.png", alt="")
              .action__text Акция 5 
            a(href="shop-blog-action.html").action
              img(src="./i/blog8.png", alt="")
              .action__text Акция 8
                
        
