extends shop-index

block page
  
  block content

    .content
      .grid-container: .grid-x.grid-padding-x
        .cell.text-center
          h1 Страница не найдена
          include components/common/_404
