doctype html
html.no-js(lang='ru')
  include components/service/_head
  body
    include components/shop/_mixin-product-tile
    include components/shop/_mixin-product-line
    include components/mixins/_mixin-product-tile-for-compare
    include components/mixins/_mixin-check
    
  
    include components/shop/_header-without-sort
    block page 
      include components/common/_content
    
    include components/shop/_enter-popup
    include components/shop/_reg-popup
    include components/shop/_recover-popup

  

    include components/shop/_footer
    include components/service/_js
