extends shop-index

block page
  
  block content

    .content
      .grid-container: .grid-x.grid-padding-x
        .cell.small-12.medium-10.large-8
          h1 Ошибка 404: страница не найдена
          include components/common/_404
