extends shop-index

block page
  
  block content
    .content.padding-top-3
      .margin-bottom-6
        script(type='text/javascript', charset='utf-8', async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A7f790abc850163401e607cc7f1412212bc5e9df51e2414d3306f2f1f57b86755&width=100%25&height=500&lang=ru_UA&scroll=false')
    
      .grid-x.grid-padding-x
        .cell.text-center.margin-bottom-10
          h3.margin-bottom-1 Адреса магазинов
          a.margin-horizontal-3(href="#") Москва
          a.margin-horizontal-3.text-decoration-none(href="#") Казань
          a.margin-horizontal-3.text-decoration-none(href="#") Краснодар
      .grid-x.grid-padding-x
        .cell.medium-6
          .grid-x.grid-padding-x
            .cell.large-5.text-right
              p
                img(src="./i/shop1.png", alt="")
            .cell.large-7
              .margin-bottom-3 Универмаг в ТЦ "Европейский"
              .margin-bottom-3
                | Адрес:
                br
                | Москва, площадь Киевского вокзала, 2, ТРЦ "Европейский 0-1 этажи
              .margin-bottom-3 
                | Мужская одежда, Женская одежда,
                br
                | Детская одежда, Спортивная одежда
              .grid-x.grid-padding-x
                .cell.medium-4 Часы работы:
                .cell.medium-8
                  |  пн.-чт.,вс.: с 10:00 до 22:00
                  br
                  | пт.-сб.: с 10:00 до 23:00  
