extends shop-regular

block content
  
  .content
    .grid-container: .grid-x.grid-padding-x
      .cell.text-center
        h1 Сравнить товары
        .margin-bottom-6
          span.text-dark-gray.margin-right-3 Показать:
          strong.margin-right-3 Только отличия
          a(href='#' title='').margin-right-3 Основные параметры
          a(href='#' title='') Все параметры
      .cell
        .table-scroll
          table
            tr.vertical-top(data-equalizer,data-equalize-by-row="true")
              td
              td.table-scroll__item.text-center
                +productTileForCompare('instock')
              td.table-scroll__item.text-center
                +productTileForCompare
              td.table-scroll__item.text-center
                +productTileForCompare('instock','incart')
              td.table-scroll__item.text-center
                +productTileForCompare
              td.table-scroll__item.text-center
                +productTileForCompare
            tr
              th.text-user-small Вес
              td 25кг
              td 35кг
              td 30кг
              td 31кг
              td 27,5кг
            tr
              th.text-user-small Материал
              td Шелк
              td Шелк
              td Шелк
              td Шелк
              td Шелк
            tr
              th.text-user-small Страна
              td Франция
              td Франция
              td Франция
              td Франция
              td Франция
            tr
              th.text-user-small Рейтинг
              td 5
              td 10
              td 5
              td 5
              td 5
