extends shop-index

block page
  
  block content

    .content
      .grid-container
        include components/common/_breadcrumbs 
        .grid-x.grid-padding-x: .cell
          h1 Поиск
          include components/common/_search
