extends shop-index

block page
  
  block content
    .content.padding-top-3.margin-bottom-20
      .margin-bottom-6
        #map.yandex-map
    
      .grid-x.grid-padding-x
        .cell.text-center.margin-bottom-10
          h3.margin-bottom-1 Адреса магазинов
          a.margin-horizontal-3(href="#") Москва
      
      .grid-x.grid-padding-x
        .cell.medium-6
          .grid-x.grid-padding-x
            .cell.large-5.large-text-right.text-center
              p
                img(src="./i/shop1.png", alt="")
            .cell.large-7
              .margin-bottom-3 Универмаг в ТЦ "Европейский"
              .margin-bottom-3
                | Адрес:
                br
                | Москва, площадь Киевского вокзала, 2, ТРЦ "Европейский 0-1 этажи
              .margin-bottom-3 
                | Мужская одежда, Женская одежда,
                br
                | Детская одежда, Спортивная одежда
              .grid-x.grid-padding-x
                .cell.medium-4 Часы работы:
                .cell.medium-8
                  |  пн.-чт.,вс.: с 10:00 до 22:00
                  br
                  | пт.-сб.: с 10:00 до 23:00  
        .cell.medium-6
          .grid-x.grid-padding-x
            .cell.large-5.text-center.large-text-left
              p
                img(src="./i/shop2.png", alt="")
            .cell.large-7
              .margin-bottom-3 Универмаг в торговой галерее Модный Сезон
              .margin-bottom-3
                | Адрес:
                br
                | Москва, ул. Охотный ряд, д.2 ТГ Модный Сезон, 2 и 3 этажи
              .margin-bottom-3 
                | Мужская одежда, Женская одежда,
                br
                | Детская одежда, Спортивная одежда
              .grid-x.grid-padding-x
                .cell.medium-4 Часы работы:
                .cell.medium-8
                  |  пн.-вс.: с 10:00 до 22:00
