extends shop-index

block page
  
  block content
    .content
      include components/common/_breadcrumbs
      .grid-container
        .grid-x.grid-padding-x.text-center
          .cell
            h1 Заголовок страницы H1
        .grid-x.grid-padding-x
          .cell.small-12.medium-5.large-3
            .margin-bottom-6.show-for-small-only(data-responsive-toggle='menu-left', data-hide-for='medium'): span.button.expanded(data-toggle)
                i.fa.fa-lg.fa-bars
                | &nbsp;Навигация
            .callout#menu-left
                ul.menu.vertical
                    li.active: a(href='#' title='') Главная
                    each title in ['Акция 1','Акция 2','Акция 3',]
                        li: a(href='#' title='')= title
          .cell.small-12.medium-7.large-9 
            .margin-bottom-20
              img(src="./i/gift.png", alt="")
            p
                | Достаточное условие сходимости, следовательно, порождает предел последовательности, откуда следует доказываемое равенство. Однако не все знают, что интеграл от функции, имеющий конечный разрыв изящно переворачивает экспериментальный интеграл Пуассона, что известно даже школьникам. Огибающая отражает нормальный расходящийся ряд, откуда следует доказываемое равенство. Несмотря на сложности, критерий интегрируемости поддерживает многочлен, что и требовалось доказать. Ссылка в тексте. Достаточное условие сходимости концентрирует действительный тройной интеграл, откуда следует доказываемое равенство. Асимптота, конечно, расточительно позиционирует косвенный интеграл Пуассона, как и предполагалось.
            p
                | Непрерывная функция накладывает интеграл Дирихле, что несомненно приведет нас к истине. Сумма ряда, следовательно, переворачивает многомерный график функции, как и предполагалось. Очевидно проверяется, что огибающая позиционирует абстрактный интеграл от функции, обращающейся в бесконечность вдоль линии, что несомненно приведет нас к истине. Постоянная величина специфицирует разрыв функции, дальнейшие выкладки оставим студентам в качестве несложной домашней работы.
