extends shop-regular

block content
  
  .content
    .grid-container: .grid-x.grid-padding-x
      .cell
        h1.text-center Корзина
        .margin-bottom-6
          a.button(href='#') Готовые к заказу
          = ' '
          a.button.light-gray(href='#') Отложенные
        
        .callout
          .grid-x.grid-padding-x
            .cell.small-3.medium-2.large-2
              img.margin-bottom-6(src='./i/d1.png' alt='товар')
            .cell.small-9.medium-5.large-5
              h5: a.text-insta.text-decoration-none.text-size-xlarge(href='shop-product.html') Ashley Williams
              .text-secondary.margin-bottom-3 Полосатое платье-рубашка
              .grid-x.grid-padding-x
                .large-3.medium-12.small-5.cell Размер
                .large-9.medium-12.small-7.cell 44
                .large-3.medium-12.small-5.cell Цвет
                .large-9.medium-12.small-7.cell Красный
            .cell.small-12.medium-5.large-5
              .grid-x.grid-padding-x
                .cell.small-6.medium-7.large-4
                  .margin-bottom-6
                    
                    | 25 280. -
                    div
                      del.text-dark-gray
                        | 27 150. -
                    div
                      a(href="#") Удалить    
                    
                .cell.small-6.medium-5.large-3
                  input(type='number' value='1' min='1')    
                .cell.small-12.large-5.text-center.medium-text-left
                  .margin-bottom-6
                    
                    | 25 280. -
          hr.margin-bottom-6
          .grid-x.grid-padding-x
            .cell.small-3.medium-2.large-2
              img.margin-bottom-6(src='./i/d1.png' alt='товар')
            .cell.small-9.medium-5.large-5
              h5: a.text-insta.text-decoration-none.text-size-xlarge(href='shop-product.html') Ashley Williams
              .text-secondary.margin-bottom-3 Полосатое платье-рубашка
              .grid-x.grid-padding-x
                .large-3.medium-12.small-5.cell Размер
                .large-9.medium-12.small-7.cell 44
                .large-3.medium-12.small-5.cell Цвет
                .large-9.medium-12.small-7.cell Красный
            .cell.small-12.medium-5.large-5
              .grid-x.grid-padding-x
                .cell.small-6.medium-7.large-4
                  .margin-bottom-6
                    
                    | 25 280. -
                    div
                      del.text-dark-gray
                        | 27 150. -
                    div
                      a(href="#") Удалить    
                    
                .cell.small-6.medium-5.large-3
                  input(type='number' value='1' min='1')    
                .cell.small-12.large-5.text-center.medium-text-left
                  .margin-bottom-6
                    
                    | 25 280. -

                      
                      
      
      
      

        .grid-x.grid-padding-x
          .cell.small-12.medium-6.large-4
            .input-group
              input.input-group-field(type='text' placeholder='№ купона на скидку')
              .input-group-button
                button.button(type='button')
                  i.fa.fa-calculator
                  = ' '
                  | Пересчитать
          .cell.small-12.medium-6.large-8.medium-text-right
            .margin-bottom-6
              | Товаров на: 398.31. - 
              br
              | НДС: 71.69. - 
              br
              strong Итого: 470. - 
        hr.margin-bottom-6
        .margin-bottom-6.text-right
          a.button(href='shop-order-make.html')
            i.fa.fa-credit-card
            = ' '
            | Оформить заказ
