extends shop-index

block page
  block content

    .content
      .grid-container
        .grid-x.grid-padding-x
          .cell
            h1 Бренды
        .grid-x.grid-padding-x.large-up-6.medium-up-4.small-up-2.margin-bottom-12
          .cell  
            .margin-bottom-2
              a(href="#").text-decoration-none
                strong Новогодний гардероб
