extends shop-regular

mixin _faq-answer
  p Да, возможна, но регистрация  упростит совершение покупок в дальнейшем.

block content
  .grid-container: .grid-x.grid-padding-x: .cell
    h1 Ваши вопросы
  .content
    .grid-container: .grid-x.grid-padding-x
      aside.small-12.medium-4.large-3.cell
        .margin-bottom-6.show-for-small-only(data-responsive-toggle='menu-left', data-hide-for='medium'): span.button.expanded(data-toggle)
          i.fa.fa-lg.fa-bars
          | &nbsp;Навигация
        .callout#menu-left
          ul.menu.vertical
            li
              a(href='#') Частые вопросы
            li
              a(href='#') Оплата
            li
              a(href='#') Доставка
            li
              a(href='#') Условия возврата

      .small-12.medium-8.large-9.cell
        ul.accordion(data-accordion data-multi-expand="true" data-allow-all-closed="true")
          li.accordion-item(data-accordion-item)
            a.accordion-title(href="#") Возможна ли покупка без регистрации?
            div.accordion-content(data-tab-content)
              +_faq-answer
          li.accordion-item(data-accordion-item)
            a.accordion-title(href="#") Что делать, если я не могу вспомнить пароль от личного кабинета?
            div.accordion-content(data-tab-content)
              p
                | Нажмите на ссылку
                |
                a(href="#") забыли пароль?
                |  , введите свою электронную почту, и скоро вам придет письмо с инструкцией.
          li.accordion-item(data-accordion-item)
            a.accordion-title(href="#") Возможна ли покупка без регистрации?
            div.accordion-content(data-tab-content)
              +_faq-answer
          li.accordion-item(data-accordion-item)
            a.accordion-title(href="#") Возможна ли покупка без регистрации?
            div.accordion-content(data-tab-content)
              +_faq-answer
          li.accordion-item(data-accordion-item)
            a.accordion-title(href="#") Возможна ли покупка без регистрации?
            div.accordion-content(data-tab-content)
              +_faq-answer
        

  .content
    .grid-container: .grid-x.grid-padding-x: .cell
      h2.text-center
        | Нет нужного ответа?
        br
        | Задайте свой вопрос
    .grid-container: .grid-x.grid-padding-x.align-center
      .small-12.medium-9.large-7.cell
        .callout
          form
            label Представьтесь
            input(type='text')

            label Ваш email *
              span.text-dark-gray &#160; для ответа вам на вопрос
            input(type='email')

            label Текст вопроса *
            textarea(rows='3')

            button.button.small-expanded Отправить вопрос
