extends shop-regular

block content
  
  .content
    .grid-x.grid-padding-x.margin-top-10: .cell.text-center
      h1 Платья
      .text-secondary 9438 товаров
    .grid-x.grid-padding-x
      .cell.small-12.medium-8.large-6
        .sort
          .sort__main Цвет
          .sort__other
            div Белый
            div Красный
        .sort
          .sort__main Размер
          .sort__other
            div 12
            div 123
        .sort
          .sort__main Бренд
          .sort__other
            div Rhino
            div Clothes
        .sort
          .sort__main Сезон
          .sort__other
            div Зима
            div Лето
        .sort
          .sort__main Цена
          .sort__other
            div По возрастанию
            div По убыванию
      .cell.small-12.medium-4.large-6.text-right
        a(href="#").text-secondary.margin-right-12 На модели
        .sort
          .sort__main Сортировать
          .sort__other.sort__other_right
            div По рейтингу
            div По качеству

        

    .grid-container: .grid-x.grid-padding-x
      .cell.small-12.medium-4.large-3
        include components/shop/_sidebar
      .cell.small-12.medium-8.large-9
        block products
          .grid-x.grid-padding-x.small-up-1.medium-up-2.large-up-4.margin-bottom-12(data-equalizer data-equalize-by-row="true")
            +productTile('Комби-перфоратор Metabo KHE 2650', false)
            +productTile('Дрель-шуруповёрт RYOBI R18DDP-LL13G', false)
            +productTile('Лобзик Metabo STEB 65 Quick', false)
            +productTile('Торцовочная пила Ryobi EMS254L', true)
            +productTile('Дрель-шуруповёрт RYOBI R18DDP-LL13G', false)
            +productTile('Лобзик Metabo STEB 65 Quick', false)
            +productTile('Комби-перфоратор Metabo KHE 2650', false)
            +productTile('Дрель-шуруповёрт RYOBI R18DDP-LL13G', false)
            +productTile('Лобзик Metabo STEB 65 Quick', false)
            +productTile('Торцовочная пила Ryobi EMS254L', true)
            +productTile('Дрель-шуруповёрт RYOBI R18DDP-LL13G', false)
            +productTile('Лобзик Metabo STEB 65 Quick', false)
            +productTile('Комби-перфоратор Metabo KHE 2650', false)
            +productTile('Дрель-шуруповёрт RYOBI R18DDP-LL13G', false)
            +productTile('Лобзик Metabo STEB 65 Quick', false)
            +productTile('Торцовочная пила Ryobi EMS254L', true)
            +productTile('Дрель-шуруповёрт RYOBI R18DDP-LL13G', false)
            +productTile('Лобзик Metabo STEB 65 Quick', false)
            +productTile('Комби-перфоратор Metabo KHE 2650', false)
            +productTile('Дрель-шуруповёрт RYOBI R18DDP-LL13G', false)
            +productTile('Лобзик Metabo STEB 65 Quick', false)
            +productTile('Торцовочная пила Ryobi EMS254L', true)
            +productTile('Дрель-шуруповёрт RYOBI R18DDP-LL13G', false)
            +productTile('Лобзик Metabo STEB 65 Quick', false)
        include components/common/_pagination
