extends shop-regular

block content

  .content
    .grid-container: .grid-x.grid-padding-x.align-center
      .cell.small-12.medium-8.large-6
        h1 Авторизация
        p Пожалуйста, авторизуйтесь:
        form(action='shop-user-account.html')
          label
            | Ваш email
            input(type='email')
          label
            | Пароль
            input(type='password')
          +check('z1','Запомнить меня на этом компьютере')
          
          br
          button.button.small-expanded
            | Войти &nbsp;
            i.fa.fa-sign-in.fa-lg
        p
          a(href='shop-user-recover.html', title='') Забыли пароль?
        p
          a(href='shop-user-registration.html', title='') Зарегистрироваться
          br
          em Если вы впервые на сайте, заполните, пожалуйста, регистрационную форму.
        p
          span.margin-right-2 Войти через:
          a(href='#', title='').fa-stack.fa-lg.text-vk.margin-right-2
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-vk.fa-stack-1x.fa-inverse
          
          a(href='#', title='').fa-stack.fa-lg.text-twi.margin-right-2
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-twitter.fa-stack-1x.fa-inverse
          
          a(href='#', title='').fa-stack.fa-lg.text-fb.margin-right-2
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-facebook.fa-stack-1x.fa-inverse
          
          a(href='#', title='').fa-stack.fa-lg.text-gp
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-google-plus.fa-stack-1x.fa-inverse
