extends shop-catalog

block title-info

block top-info
  .content.content_medium-gray
    .grid-container
      .grid-x.grid-padding-x: .cell.text-center
        h1.margin-bottom-0 Belucci
        .text-secondary.margin-bottom-1 9438 товаров
      .grid-x.grid-padding-x
        .cell.large-3.medium-3.text-center
          p
            img(src="./i/bel.jpg", alt="")
        .cell.large-9.medium-9
          p Нежный и женственный как лепесток оттенок очень освежает лицо и дарит нотку наивности. Весной и летом сочетайте его с другими пастельными цветами, чтобы придать образу лёгкость. 
          p Розовый кварц отлично уживается с тремя другими модными оттенками сезона лилово-серым, персиковым эхо и спокойствием. Оттенок розового кварца используется не только для создания очень романтических образов вроде Emporio Armani, но и современных и строгих решений как у Stella McCartney.
          
