extends shop-index

block page
  block content

    .content.padding-bottom-0
      .grid-container
        .grid-x.grid-padding-x
          .cell.margin-bottom-10
            .text-size-xxxlarge.text-center Выберите интересующий вас раздел
        .grid-x.grid-padding-x.medium-up-3.text-center.margin-bottom-20    
          .cell.margin-bottom-5
            p
              a(href="#") 
                img(src="./i/walk1.png", alt="")
            a(href="#").kind Женщинам      
          .cell.margin-bottom-5
            p
              a(href="#") 
                img(src="./i/walk2.png", alt="")
            a(href="#").kind Мужчинам
          .cell.margin-bottom-5
            p
              a(href="#") 
                img(src="./i/walk3.png", alt="")
            a(href="#").kind Детям     
        .grid-x.grid-padding-x.align-center
          .cell.large-11
            hr.margin-vertical-7.hr
            .grid-x.grid-padding-x.medium-up-4.small-up-2.large-up-8.text-center.margin-bottom-20
              .cell.aligner
                p
                  a
                    img(src="./i/d11.png", alt="")
              .cell.aligner
                p
                  a
                    img(src="./i/d21.png", alt="")
              .cell.aligner
                p
                  a
                    img(src="./i/d31.png", alt="")
              .cell.aligner
                p
                  a
                    img(src="./i/d4.png", alt="")
              .cell.aligner
                p
                  a
                    img(src="./i/d5.png", alt="")
              .cell.aligner
                p
                  a
                    img(src="./i/d6.png", alt="")
              .cell.aligner
                p
                  a
                    img(src="./i/d7.png", alt="")
              .cell.aligner
                p
                  a
                    img(src="./i/d8.png", alt="")
  
                
                     
            
      .background-light-gray.padding-top-15.padding-bottom-4
        .grid-container
          .grid-x.grid-padding-x.align-justify.text-dark-gray.text-size-xlarge.text-center.large-text-left
            .cell.large-3.medium-4      
              .grid-x.grid-padding-x
                .large-3.cell.margin-bottom-3
                  img(src="./images/ruble.svg", alt="")
                .large-9.cell.padding-top-3 Доступные цены
                .cell.text-size-xsmall.text-center.margin-bottom-8 Мы предлагаем самые выгодные цены и условия доставки
            .cell.large-3.medium-4      
              .grid-x.grid-padding-x
                .large-3.cell.margin-bottom-3
                  img(src="./images/quality.svg", alt="")
                .large-9.cell.padding-top-3 Качественный товар
                .cell.text-size-xsmall.text-center.margin-bottom-8 Качество товара проверяется и соответствует самым высоким стандартам
            .cell.large-3.medium-4      
              .grid-x.grid-padding-x
                .large-3.cell.margin-bottom-3
                  img(src="./images/fast.svg", alt="")
                .large-9.cell.padding-top-3 Быстрая доставка
                .cell.text-size-xsmall.text-center.margin-bottom-8 Мы предлагаем самые выгодные цены и услуги доставки
